@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans');

body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Open Sans, Helvetica, Roboto, Arial, sans-serif;
    min-height: 100vh;
}